# Ignore the virtual environment folder
/backend/reviews-venv/

# Virtual Environments
venv/
.env/
.envrc
*.venv
Pipfile.lock
poetry.lock

# Python cache files
__pycache__/
*.pyc
*.pyd
*.py[cod]
*.so
*.egg-info/
*.pyo

# env variables
.env

# Logs & OS Files
*.log
.DS_Store
Thumbs.db

# IDE & Editor Configs
.vscode/
.idea/
*.swp

